apiKey: "AIzaSyC6RX_qzvovIfcnpN_rsPXOnf5IEql4KPs",
  authDomain: "top-chico-mart.firebaseapp.com",
  databaseURL: "https://top-chico-mart-default-rtdb.firebaseio.com",
  projectId: "top-chico-mart",
  storageBucket: "top-chico-mart.firebasestorage.app",
  messagingSenderId: "580915516715",
  appId: "1:580915516715:web:e9ede7223cfd32d5c0616e",
  measurementId: "G-KKSK5P2FS0"

URL: https://ijvlkipxqruhgowphqvs.supabase.co
ANON KEY: eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9...
